<div class="row">
	<div class="col-xs-12">
		<img [src]="recipe.imagePath" alt="{{recipe.imagePath}}" class="img-responsive" style="max-height: 50px;">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4>{{recipe.name}}</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group">
			<button class="btn btn-success" (click)="addToShoppingList()">To shopping list</button>
			<button class="btn btn-primary" (click)="editRecipe()">Edit Recipe</button>
			<button class="btn btn-danger">Delete</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{{recipe.description}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<li class="list-group-item"
			*ngFor="let ingredient of recipe.ingredients">
				{{ingredient.name}} - {{ingredient.amount}}
			</li>
		</ul>
	</div>
</div>